html,
body {
  height: 100%;
  width: 100%;
}

.logos-image img {
    max-width: 100%;
    height: auto;
}
p {
    text-align: center;
    font-size: 25px;
}

.key {
    display: inline;
}

.progress li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.progress div {
    display: inline-block;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 40px;
    max-width: 100px;
    height: 30px;
    border: 0px;
}
.input-color .color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

th {
    text-align: left;
}

table {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
